<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>

  <body>
		<h1>Edit your profile</h1>


		<form method="POST" action="/profile-page">
			<h2>Your personal information</h1>
			<label for="name">Name</label>
			<input type="text" name="name" id="name">
			<label for="age">Age</label>
			<input type="text" name="age" id="age">
			<h2>Tell something about yourself</h1>
			<label for="about">About me:</label>
			<textarea name="about" id="about" cols="30" rows="10"></textarea>
			<h2>What are some of your interests?</h1>
			<label for="interest">1</label>
			<input type="text" name="interest" id="interest">
			<input type="submit" value="save">
	</form>
	<button><a href="/profile-page">Cancel</a></button>
  </body>
</html>
