<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>

  <body>
    <%- include ("./partials/navigation") %>

    <main class="container-lg">

			<%- include ("./partials/filter") %>

      <form action="/logout" method="POST" class="log-out">
        <button type="submit">Log out</button>
      </form>

      <%- include ('./partials/match', { users }) %>
		</main>

		<footer class="breadcrumb">
			<p>&copy; Team 2, 2020</p>
		</footer>
  </body>
</html>
