<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>

  <body>
    <main class="container-lg">
      <h1>Dating App</h1>
      <details>
        <summary>
          Filter
        </summary>
        <%- include ("./partials/filter") %>
      </details>



			<a href="/profile-page">View profile</a>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
			</form>
			<a href="/matches">Link naar matches</a>

		<%- include ('./partials/match', { users }) %>

    </main>
  </body>
</html>
