<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head") %>

<body>

	<% if (locals.signUp) { %>
	<form action="/signup" method="POST">
		<% } else { %>
		<form action="/login" method="POST">
			<% } %>

			<fieldset>

				<legend>Account</legend>
				<label for="email">E-mail</label>
				<input required type="email" name="email" id="email">
				<% if (locals.errorMessage) { %>
				<span style="color: red"><%- errorMessage  %> </span>
				<% } %>
				<br>

				<label for="passord">Password</label>
				<input required type="password" name="pass" id="password">
			</fieldset>
			<br>

			<% if (locals.signUp) { %>
			<fieldset>
				<legend>Name</legend>
				<label for="firstName">First Name</label>
				<input type="text" name="firstName" id="firstName">
				<br>
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName" id="lastName">
			</fieldset>

			<fieldset>
				<legend>Person</legend>
				<br>
				<label for="age">Age</label>
				<input required type="number" name="age" id="age" min="18" max="130">
				<br>
				<label for="gender">Gender</label>
				<select required name="gender" id="gender">
					<option value="m">Male</option>
					<option value="f">Female</option>
					<option value="x">Prefer not to say / Non-binary</option>
				</select>
			</fieldset>
			<br>

			<fieldset>
				<legend>Preference</legend>
				<label for="orientation">I'm looking for...</label>
				<select required name="orientation" id="orientation">
					<option value="m">Male</option>
					<option value="f">Female</option>
					<option value="x">Both</option>
				</select>
			</fieldset>
			<br>
			<% } %>

			<button type="submit">Submit</button>
		</form>
</body>

</html>
