<aside class="filter">
  <form action="/" method="POST">
    <fieldset>
      <label for="age">Age</label>
      <br />
      <input type="number" name="age" id="age" min="18" max="100" value="24" />
    </fieldset>

    <fieldset>
			<legend>Sexual Orientation</legend>
			<label for="orientation">I'm looking for...</label>
			<select name="orientation" id="orientation">
				<option value="m">Men</option>
				<option value="f">Women</option>
				<option value="x">Both</option>
			</select>
      <!-- <label for="male">
				<input type="radio" id="male" name="orientation" value="m" />

				Male
			</label>

      <label for="female">
				<input type="radio" id="female" checked name="orientation" value="f" />
				Female
			</label>

      <label for="both">
				<input type="radio" id="both" checked name="orientation" value="x" />
				Both
			</label> -->
    </fieldset>

    <button type="submit">Filter</button>
  </form>
</aside>
